.footer {
	position: relative;
	flex: 0 0 auto;
	min-width: 360px;
	background-color: var(--main-dark-color);


}
@media (min-width: 992px) {
	.footer {
		padding-top: 90px;
	}
}
@media (max-width: 991.98px) {
	.footer {
		padding-top: 40px;
	}
}