.header {
	min-width: 360px;
	width: 100%;
	background-color: var(--white-color);

	&-content {
		display: flex;
		flex-direction: column;
	}
	&-top {
		display: flex;
		align-items: center;
		padding-top: 8px;
		padding-bottom: 8px;
		background-color: var(--bg-color);
		font-size: 14px;

		&-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 40px;
		}
		&__list {
			display: flex;
			align-items: center;
			gap: 38px;
			line-height: 20px;

			li {
				position: relative;

				&:not(:last-child) {
					&::before {
						content: "/";
						position: absolute;
						top: 50%;
						right: -23px;
						transform: translateY(-50%);
					}
				}
			}
		}
		&__link {
			color: var(--main-dark-color);

			&:hover {
				color: var(--gray1-hover-color);
			}
		}
		&__action {
			display: flex;
			align-items: center;
			gap: 25px;

			&-item {
				position: relative;
				display: flex;
				align-items: center;
				gap: 5px;
				color: var(--gray1-color);
				font-weight: 700;
				line-height: 20px;

				.icon {
					min-width: 20px;
					width: 20px;
					min-height: 20px;
					height: 20px;
					fill: var(--gray1-color);
					stroke: var(--gray1-color);
				}

				&.has-data {
					&::before,
					&::after {
						content: "";
						position: absolute;
						border-radius: 50%;
					}
					&::before {
						z-index: 1;
						top: -1px;
						right: -2px;
						min-width: 8px;
						width: 8px;
						min-height: 8px;
						height: 8px;
						background-color: var(--white-color);
					}
					&::after {
						z-index: 2;
						top: 0;
						right: -1px;
						min-width: 6px;
						width: 6px;
						min-height: 6px;
						height: 6px;
						background-color: var(--accent-color);
					}
				}

				&:hover {
					color: var(--gray2-hover-color);

					.icon {
						fill: var(--gray2-hover-color);
						stroke: var(--gray2-hover-color);
					}
				}
			}
		}
	}
	&-main {
		display: flex;
		align-items: center;
		background-color: var(--white-color);

		&-content {
			display: flex;
			align-items: center;
		}
	}
	&-logo {
		display: flex;
		align-items: center;

		&__view {
			display: flex;
		}
	}
	&-catalog {
		position: relative;
		display: flex;

		&-spoiler {
			&:not(.active) {
				.icon-active {
					display: none;
				}
			}
			&.active {
				.icon-default {
					display: none;
				}
			}
		}
	}
	&-search {
		position: relative;
	}
	&-info,
	&-contacts {
		display: flex;
	}
	&-contacts {
		&__item {
			&-tel {
				font-weight: 900;
			}
		}
	}
	&-menu {
		background-color: var(--main-dark-color);

		&-content,
		&__list {
			display: flex;
		}
		&__list {
			li {
				display: flex;
			}
		}
		&__cart {
			display: flex;
			transition: var(--transition);

			&-view {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--line-dark-color);

				.icon {
					fill: var(--white-color);
					stroke: var(--white-color);
				}
			}

			&.has-data {
				.header-menu__cart-view {
					background-color: var(--accent-color);
				}
			}

			&:hover {
				background-color: var(--line-dark-color);
			}
		}
	}
}

.menu-catalog {
	z-index: 2000;
	display: flex;
	flex-direction: column;
	opacity: 0;
	background-color: var(--white-color);
	pointer-events: none;
	user-select: none;

	&.active {
		opacity: 1;
		pointer-events: auto;
		user-select: auto;

		& ~ .main {
			&::before {
				content: "";
				z-index: 999;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.65);
			}
		}
	}
	&.menu-catalog--overflow {
		overflow: auto;
	}
	&-root {
		&::-webkit {
			&-scrollbar,
			&-scrollbar-track,
			&-scrollbar-thumb {
				min-width: 5px;
				width: 5px;
			}
			&-scrollbar,
			&-scrollbar-track {
				background-color: transparent;
			}
			&-scrollbar-button {
				display: none;
			}
			&-scrollbar-thumb {
				border-radius: 3px;
				background-color: var(--line-dark-color);
			}
		}
	}

	&-content {
		position: relative;
		display: flex;
	}

	&-root {
		overflow: auto;

		&-categories {
			.menu-catalog-root-link {
				font-size: 14px;
			}
		}
		&-link {
			position: relative;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			min-width: 100%;
			width: 100%;
			border: 0;
			background-color: var(--white-color);
			color: var(--main-dark-color);
			line-height: 24px;
			cursor: pointer;
			transition: var(--transition);

			.icon,
			.text-content {
				pointer-events: none;
				user-select: none;
			}
			.icon {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
				fill: var(--gray2-color);
				stroke: var(--gray2-color);
			}
			.text-content {
				flex: 1;
			}
		}
	}

	&-submenu {
		&-section {
			min-height: 100%;
			height: 100%;

			&:not(.active) {
				display: none;
			}
		}
		&__list {
			min-height: 100%;
			height: 100%;

			li {
				display: flex;
			}
		}
		&__link {
			position: relative;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			min-width: 100%;
			width: 100%;

			.text-content {
				flex: 1;
			}
		}
	}
}
@media (min-width: 1400px) {
	.header {
		margin-bottom: 30px;

		&-main {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		&-logo {
			gap: 25px;

			&:not(:last-child) {
				margin-right: 40px;
			}
			&__text {
				max-width: 125px;
				color: var(--gray1-color);
				font-size: 14px;
			}
		}
		&-catalog {
			align-items: center;

			&:not(:last-child) {
				margin-right: 15px;
			}
			&-spoiler {
				padding-right: 25px;
				padding-left: 25px;
			}
		}
		&-search {
			flex: 1;
		}
		&-info {
			align-items: center;
			gap: 25px;
		}
		&-contacts {
			flex-direction: column;
			gap: 2px;

			&__item {
				font-size: 14px;

				&-tel {
					font-size: 21px;
					line-height: 1.2;

					.icon {
						display: none;
					}
				}
			}
		}
		&-menu {
			color: var(--white-color);

			&-content,
			&__list {
				align-items: center;
			}
			&-content {
				justify-content: space-between;
				gap: 20px;
				margin-right: -15px;
				margin-left: -15px;
			}
			&__link {
				padding: 15px;
				font-weight: 700;

				&:hover {
					background-color: var(--line-dark-color);
				}
			}
			&__cart {
				align-items: center;
				gap: 10px;
				padding: 10px 15px;

				&-view {
					align-items: center;
					min-width: 34px;
					width: 34px;
					min-height: 34px;
					height: 34px;

					.icon {
						min-width: 20px;
						width: 20px;
						min-height: 20px;
						height: 20px;
					}
				}
			}
		}
	}

	.menu-catalog {
		position: absolute;
		top: calc(100% + 10px);
		min-width: 940px;
		width: 940px;

		box-shadow: var(--shadow);

		&-header {
			display: none;
		}
		&,
		&-root,
		&-submenu {
			min-height: 605px;
			height: 605px;
		}
		&-root {
			min-width: 360px;
			width: 360px;
			padding: 10px;

			&-item {
				&-pointer {
					display: none;
				}
			}
			&-link {
				gap: 15px;
				min-height: 54px;
				height: 54px;
				padding: 15px;
				font-weight: 700;

				&.selected {
					background-color: var(--accent-pale-color);

					.icon {
						fill: var(--accent-color);
						stroke: var(--accent-color);
					}
				}
			}
		}
		&-submenu {
			min-width: calc(100% - 360px);
			width: calc(100% - 360px);
			padding: 25px;
			border-left: 1px solid var(--gray-bg-color);

			&-section {
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
			&__list {
				column-count: 2;
				column-gap: 50px;

				li {
					&:not(:last-child) {
						margin-bottom: 15px;
					}
				}
			}
			&__link {
				break-inside: avoid;

				.icon {
					display: none;
				}
				.text-content {
					font-size: 15px;
				}
			}
		}
	}
}
@media (min-width: 1600px) {
	.header {
		&-search {
			&:not(:last-child) {
				margin-right: 100px;
			}
		}
	}
}
@media (min-width: 1400px) and (max-width: 1599.98px) {
	.header {
		&-search {
			&:not(:last-child) {
				margin-right: 40px;
			}
		}
	}
}
@media (max-width: 1399.98px) {
	.header {
		margin-bottom: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		box-shadow: var(--shadow2);

		&-content {
			gap: 12px;
		}
		&-top {
			display: none;
		}
		&-logo {
			order: 0;

			&:not(:last-child) {
				margin-right: auto;
			}
			&__view {
				.image {
					min-width: 150px;
					width: 151px;
					min-height: 26px;
					height: 26px;
				}
			}
			&__text {
				display: none;
			}
		}
		&-catalog {
			order: 15;

			&-spoiler {
				min-width: 34px;
				width: 34px;
				min-height: 34px;
				height: 34px;
				padding: unset;

				.text-content {
					display: none;
				}
			}
		}
		&-search {
			order: 10;
			margin-right: 20px;

			.input-search {
				display: none;
			}
			&__submit {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
				padding: unset;
				background-color: transparent;

				.icon {
					min-width: 24px;
					width: 24px;
					min-height: 24px;
					height: 24px;
					fill: var(--gray2-color);
					stroke: var(--gray2-color);
				}

				&:hover {
					background-color: transparent;
				}
			}
		}
		&-info {
			order: 5;
			margin-right: 20px;
		}
		&-contacts {
			&__item {
				&:not(.header-contacts__item-tel) {
					display: none;
				}
				&-tel {
					display: flex;
					justify-content: center;
					align-items: center;
					min-width: 24px;
					width: 24px;
					min-height: 24px;
					height: 24px;

					.text-content {
						display: none;
					}
					.icon {
						min-width: 24px;
						width: 24px;
						min-height: 24px;
						height: 24px;
						fill: var(--gray2-color);
						stroke: var(--gray2-color);
					}
				}
			}
		}
		&-invoice {
			display: none;
		}
		&-menu {
			display: none;
		}
	}

	.menu-catalog {
		position: fixed;
		top: 54px;
		right: 0;
		bottom: 0;
		left: 0;
		border-top: 1px solid var(--gray-bg-color);

		&-content {
			flex-direction: column;
			padding: 30px 15px 0;
		}
		&-header {
			padding-bottom: 20px;
			font-weight: 900;
			font-size: 26px;
			line-height: 31px;

			&:not(:last-child) {
				border-bottom: 1px solid var(--gray-bg-color);
			}
		}
		&-root {
			min-width: 100%;
			width: 100%;
			height: calc(100vh - 136px);

			&.hide {
				display: none;
			}
			&-link {
				gap: 20px;
				padding: 15px 5px 15px 0;
				border-bottom: 1px solid var(--gray-bg-color);
			}
		}
		&-submenu {
			min-width: 100%;
			height: calc(100vh - 136px);
			padding-bottom: 24px;

			&:not(.active) {
				display: none;
			}
			&__list {
				display: flex;
				flex-direction: column;
				overflow: auto;
			}
			&__link {
				gap: 20px;
				padding: 15px 5px 15px 0;
				border-bottom: 1px solid var(--gray-bg-color);
				background-color: var(--white-color);
				color: var(--main-dark-color);
				line-height: 24px;
				cursor: pointer;
				transition: var(--transition);

				.icon,
				.text-content {
					pointer-events: none;
					user-select: none;
				}
				.icon {
					min-width: 24px;
					width: 24px;
					min-height: 24px;
					height: 24px;
					fill: var(--gray2-color);
					stroke: var(--gray2-color);
				}
				.text-content {
					font-size: 14px;
				}
			}
		}
	}
}